body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    
  }
.top-site, .footer {
    background-color: #1F2937;
    color: white;

  }
.top-content-title{
    font-size: 37px;
    font-weight: bold;
}
.header-logo{
    font-size: 24px;
    padding: 10px;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.header-links ul{
    display: flex;
    margin: 0;
    padding: 0;
    
}
.header-links li{
    display: flex;
    margin: 10px;
    
}
.top-content-right img{
    width: 400px;
    height: auto;
}
.top-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;

    
}
.top-content-left{
    max-width: 300px;
}
.image-section{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    
    
}

.image-section ul{
    display: flex;
    justify-content: space-evenly ;
    
}
.image-section ul li img {
    width: 200px;
    border-radius: 15px;
    border: 5px solid;
    border-color: #3882F6;
}

.image-section ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote-section{
    background-color: #E5E7EB;
    color: black;
    font-size: 25px;
    
}
.quote-container{
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    
}
.quote{
    font-style: italic;
    margin-bottom: 0px;

}


.footer{
    text-align: center;
    padding: 10px;
    font-size: 10px;
}

.download-adv{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    
    

}
.msg{
    
    display: flex;
    align-items: center;
    background-color: #3882F6;
    padding: 0px 100px;
    gap: 300px;
    border-radius: 15px;

    
}

.left{
    width: 400px;
}
h4{
    padding: 0;
    margin-bottom: 0;
}
.left p{
    margin-top: 5px;
}



